body {
  background-image: url("https://pmcvariety.files.wordpress.com/2017/10/rexfeatures_5867685c.jpg");
  font-family: 'Anton', sans-serif;
}

.header-content a {
  text-decoration: none;
  color: coral;
}
